html, body {
      height: 100%;
    }
    .container{
      width: 1025px;
    }
    .vertical-center {
      height: 100%;
      width: 100%;
      text-align: center;  /* align the inline(-block) elements horizontally */
      font: 0/0 a;         /* remove the gap between inline(-block) elements */
    }
    .vertical-center:before {    /* create a full-height inline block pseudo=element */
      content: ' ';
      display: inline-block;
      vertical-align: middle;  /* vertical alignment of the inline element */
      height: 100%;
    }
    .vertical-center > .container {
      max-width: 100%;
      background-color: gold;
      display: inline-block;
      vertical-align: middle;  /* vertical alignment of the inline element */
      font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
    }

.form-control {
    width: 120%;
    height: 5%;
    font-size: 20px;
}


.searchResults{
   /* border:1px solid red; */
    width:100%;
    height: auto;
    /*position: absolute;*/
     float: left;
     background: lightyellow;
}

.searchResultsForMiniPage{
    border:1px solid red; 
    width:100%;
    height: auto;
    position: relative;
     float: left;
     margin-top: 5%;
     background: lightyellow;
}

.div_top_container{
     
    position:relative;  
    float: left;
    min-width:25%;
    height:auto;
    margin-bottom: 1%; 
    min-width:33%;
    max-width:96%;
	height:auto;
    margin-bottom: 3%; 
    border: 2px solid lightsteelblue;
    border-radius: 10px;
}

.leftIndent{
    margin-left: 2%;
}


.basisNewsStyle{
    border:1px solid; 
    background: white;
    position:relative;
    width:auto; 
    height: auto;
    font-size: 18px;
    text-align:center;
    background: transparent;
    font-family: "Palatino Linotype";
    color: #337ab7;

}

.tirephoto{
    border:1px solid; 
    position:relative;
    width:100%; 
    height: 200px;
    cursor: pointer;
    opacity: 1;
}

.tireLink{

   font-size: 25px;
   text-align: center; 
   background: skyblue;
   margin-top: 15px;
   margin-bottom: inherit;
}

.tireDescription{
    padding: 10px;
    text-align:justify;
}

.oneTireStyle{
    border:1px solid; 
    position:relative;
    width:47%; 
   /*  height:400px; */
    cursor: pointer;
    opacity: 1;
    float: left;
    margin-left: 2%;
    font-size: 20px;

}
.descriptionStyle{
	border:1px solid; 
    position:relative;
    width:47%; 
   /*  height:400px; */
    cursor: pointer;
    opacity: 1;
    float: left;
    margin-left: 3%;
    font-size: 20px;
	
}.additionalImages{
	border:1px solid; 
    position:relative;
    width:97%; 
	height:100px;
    cursor: pointer;
    opacity: 1;
    float: left;
    margin-left: 2%;
	margin-top:5%;
    font-size: 20px;
}


