.searchResults{
    border:1px solid red; 
    width:100%;
    height: auto;
    /*position: absolute;*/
     float: left;
     background: lightgrey;
}

.searchResultsForMiniPage{
    border:1px solid red; 
    width:100%;
    height: auto;
    position: relative;
     float: left;
     margin-top: 5%;
     background: lightgrey;
}

.div_top_container{
     
    position:relative;  
    float: left;
    min-width:25%;
    height:auto;
    border: 1px solid green;
/*    margin-left: 1%;
*/    margin-bottom: 1%; 
}

.leftIndent{
    margin-left: 2%;
}


.basisNewsStyle{
    border:1px solid; 
    background: white;
    position:relative;
    width:auto; 
    height: auto;
    font-size: 15px;
}
.tirephoto{
    border:1px solid; 
    position:relative;
    width:100%; 
    height: 200px;
    cursor: pointer;
    opacity: 1;
}

.tireLink{

    font-size: 25px;
    margin-left: 28%;   
}
.tireDescription{
    padding: 10px;
    text-align:justify;
}

.oneTireStyle{
    border:1px solid; 
    position:relative;
    width:500px; 
    height:400px;
    cursor: pointer;
    opacity: 1;
    float: left;
    margin-left: 3%;
    font-size: 20px;

}
